extends layout

block content
  h1 Explore
  hr
  if posts.length > 0
    for post in posts
      .list-group-item.block-link(onclick="window.location='/#{post.author}/#{post.id}/#{post.turl}'")
        h4.text-primary= post.title
        h6.text-muted 
          | Posted #{moment(post.date).fromNow()}
          | by <a href="/#{post.author}">#{post.author}</a>
          | on #{moment(post.date).format('MMMM Do YYYY')}
      br
